<div class = "row">
  <div class = "col s12">
    <div class = "card">
      <div class = "card-content white-text">
        <div class = "row">
          <div class = "col s5">
            <form #postForm = "ngForm" (ngSubmit) = "onSubmit(postForm)">
              <input type = "hidden" name = "_id" #_id = "ngModel" [(ngModel)] = "postService.selectedPost._id">
              <input type = "hidden" name = "userName" #userName = "ngModel" [(ngModel)] = "postService.selectedPost.userName">
              <div class="row">
                  <table class="table-fill">
                <thead>
                  <tr>
                    <th colspan="2" class="text-center">User Profile</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">Username</td>
                    <td class="text-center">{{userDetails.userName}}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">Email</td>
                    <td class="text-center">{{userDetails.email}}</td>
                  </tr>
                  <tr>
                    <td class="text-center">TODO</td>
                    <td><input type = "text" name = "todo" #name = "ngModel" [(ngModel)] = "userService.selectedUser.todo" placeholder={{userDetails.todo}} required>
                      <a class = "action-btn" (click) = "updateTODO(postForm)">
                        <i class = "material-icons">update</i>
                      </a></td>
                  </tr>
                  <tr>
                    <td colspan="2" class="text-center">
                      <input type="button" (click)="onLogout()" value="Logout" />
                    </td>
                  </tr>
                </tbody>
              </table>
                <div class="input-field col s12">
                  <input type = "text" name = "title" #name = "ngModel" [(ngModel)] = "postService.selectedPost.title" placeholder="Enter post title" required>
                  <label>Title: 
                    <label class = "red-text">*</label>
                  </label>
                </div>
                <div class="input-field col s12">
                  <input type = "text" name = "detail" #name = "ngModel" [(ngModel)] = "postService.selectedPost.detail" placeholder="Enter post detail" required>
                  <label>Detail: 
                    <label class = "red-text">*</label>
                  </label>
                </div>
              </div>
              <div class = "row">
                <div class = "input-field col s12">
                  <button class="btn btn-custom right" type = "button" (click) = "resetForm(postForm) ">Reset</button>
                  <button class="btn btn-custom right" type = "submit" (click) = "!postForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class = "col s7">
            <table class = "responsive-table highlight">
              <thead>
                <tr>
                  <th class="text-center">User</th>
                  <th class="text-center">Title</th>
                  <th class="text-center">Detail</th>
                  <th class="text-center">
                  <a class = "action-btn" (click) = "delALL()">
                    <i class = "material-icons">deleteALL</i>
                  </a></th>
                </tr>
              </thead>
              <tr *ngFor = "let po of postService.posts">
                <td class="text-center">{{po.userName}}</td>
                <td class="text-center">{{po.title}}</td>
                <td class="text-center">{{po.detail}}</td>
                <td class="center">
                  <a class = "action-btn" (click) = "onEdit(po)">
                    <i class = "material-icons">edit</i>
                  </a>
                  <a class = "action-btn" (click) = "onDel(po._id, postForm)">
                    <i class = "material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>